<!DOCTYPE html>
<html ng-app="bugtrackerApp">
<head>
   <link rel="stylesheet" type="text/css" href="/Static/Styles/style.css">
   <script src="/Static/Javascript/jquery.min.js"></script>
   <script src="/Static/Javascript/angular.min.js"></script>
   <script src="/Static/Javascript/angular-route.min.js"></script>
   <script src="/Static/Javascript/app.js"></script>
   <script src="/Static/Javascript/controllers.js"></script>
</head>
<body>
   <div class="titleBar">
      <a href="/#/" class="title">Crusoe</a>
   </div>
   <div class="titleUnderline"></div>

   <div ng-view class="main"></div>
</body>
</html>
